body {
    --dot-bg: #161616;
    --dot-color: #848282;
    --dot-size: 1px;
    --dot-space: 50px;
  
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
    
    /* Set animation on the background */
    animation: moveDots 2s linear infinite;
  }
  
  /* Keyframe animation to move the dots */
  @keyframes moveDots {
    0% {
      background-position: 0 0, 0 0; /* Initial position */
    }
    100% {
      background-position: 100% 100%, 100% 100%; /* End position */
    }
  }
  